{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>JERI Strombörsenspiel</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'boersenspiel/css/bootstrap.min.css' %}" rel="stylesheet" >
        <!-- Custom styles for this template -->
        <link href="{% static 'boersenspiel/css/starter-template.css' %}" rel="stylesheet" >
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'boersenspiel:handler' %}">Trading Floor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'boersenspiel:results' %}">Auction Results <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'boersenspiel:markets' %}">External Markets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'boersenspiel:hs' %}">Highscores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
{% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'boersenspiel:prefs' %}">Prefs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'boersenspiel:admin' %}">Admin</a>
          </li>
{% endif %}
{% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'boersenspiel:logout' %}">Logout</a>
          </li> 
{% endif %}                   
        </ul>
      </div>
      <div>
      <p style="color:#FFFFFF" >Name:{{ request.user.username }}<br/>Runde:{{runde}}<br/>Game:{{ request.user.spieler.idSpiel }}#TODO
      </div>
    </nav>

    <div class="container">
        <div class="starter-template">
            {% block content %}
            {% endblock %}
        </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'boersenspiel/bootstrap/assets/js/vendor/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'boersenspiel/bootstrap/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'boersenspiel/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'boersenspiel/bootstrap/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
