<!DOCTYPE html>
{% extends 'boersenspiel/base.html' %}
{% load static %}
{% block content %}
        <div class="ueberschrift">Preise</div>
        <br />
<div>
    <img src="{% static 'boersenspiel/images/tmp/kohlepreise.png' %}" alt="Not Found kohlepreise", height="300",width="300">
    <img src="{% static 'boersenspiel/images/tmp/gaspreise.png' %}" alt="Not Found kohlepreise", height="300",width="300">
</div>
<div>
    <img src="{% static 'boersenspiel/images/tmp/Wasserpreise.png' %}" alt="Not Found kohlepreise", height="300",width="300">
    <img src="{% static 'boersenspiel/images/tmp/Co2preise.png' %}" alt="Not Found kohlepreise", height="300",width="300">
</div>

{% endblock %}

